<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>n_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,98},{297,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,1},{297,92}}</string>
                <key>sourceSize</key>
                <string>{355,94}</string>
            </dict>
            <key>n_r10.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,98},{357,59}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{357,59}}</string>
                <key>sourceSize</key>
                <string>{357,93}</string>
            </dict>
            <key>n_r11.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,98},{353,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,18},{353,58}}</string>
                <key>sourceSize</key>
                <string>{359,94}</string>
            </dict>
            <key>n_r12.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,98},{357,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{357,59}}</string>
                <key>sourceSize</key>
                <string>{361,93}</string>
            </dict>
            <key>n_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,453},{265,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,0},{265,94}}</string>
                <key>sourceSize</key>
                <string>{355,94}</string>
            </dict>
            <key>n_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,457},{351,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{351,48}}</string>
                <key>sourceSize</key>
                <string>{359,94}</string>
            </dict>
            <key>n_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{352,68}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{352,68}}</string>
                <key>sourceSize</key>
                <string>{362,94}</string>
            </dict>
            <key>n_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{359,58}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{359,58}}</string>
                <key>sourceSize</key>
                <string>{361,94}</string>
            </dict>
            <key>n_r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,457},{357,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,22},{357,49}}</string>
                <key>sourceSize</key>
                <string>{361,93}</string>
            </dict>
            <key>n_r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,457},{284,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,3},{284,88}}</string>
                <key>sourceSize</key>
                <string>{362,94}</string>
            </dict>
            <key>n_r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,98},{350,60}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,21},{350,60}}</string>
                <key>sourceSize</key>
                <string>{362,94}</string>
            </dict>
            <key>n_r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{348,94}}</string>
                <key>sourceSize</key>
                <string>{358,94}</string>
            </dict>
            <key>p_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,801},{111,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{111,22}}</string>
                <key>sourceSize</key>
                <string>{111,42}</string>
            </dict>
            <key>p_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,743},{115,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,43}}</string>
                <key>sourceSize</key>
                <string>{115,43}</string>
            </dict>
            <key>p_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,813},{153,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{153,26}}</string>
                <key>sourceSize</key>
                <string>{153,42}</string>
            </dict>
            <key>p_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,914},{107,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{107,25}}</string>
                <key>sourceSize</key>
                <string>{113,43}</string>
            </dict>
            <key>p_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,801},{114,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{114,22}}</string>
                <key>sourceSize</key>
                <string>{116,42}</string>
            </dict>
            <key>p_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,912},{102,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{102,26}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>p_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,720},{111,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{111,21}}</string>
                <key>sourceSize</key>
                <string>{111,43}</string>
            </dict>
            <key>p_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,801},{126,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{126,22}}</string>
                <key>sourceSize</key>
                <string>{128,42}</string>
            </dict>
            <key>p_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,968},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{74,30}}</string>
                <key>sourceSize</key>
                <string>{112,42}</string>
            </dict>
            <key>p_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,810},{129,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{129,26}}</string>
                <key>sourceSize</key>
                <string>{129,40}</string>
            </dict>
            <key>p_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,941},{60,33}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{60,33}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>p_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,976},{103,21}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{103,21}}</string>
                <key>sourceSize</key>
                <string>{113,43}</string>
            </dict>
            <key>s_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,452},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>s_n_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,810},{146,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{146,28}}</string>
                <key>sourceSize</key>
                <string>{146,40}</string>
            </dict>
            <key>s_n_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,938},{67,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{67,24}}</string>
                <key>sourceSize</key>
                <string>{71,40}</string>
            </dict>
            <key>s_n_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,534},{145,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{145,22}}</string>
                <key>sourceSize</key>
                <string>{157,40}</string>
            </dict>
            <key>s_n_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,816},{149,25}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{149,25}}</string>
                <key>sourceSize</key>
                <string>{157,41}</string>
            </dict>
            <key>s_n_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,774},{120,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{120,25}}</string>
                <key>sourceSize</key>
                <string>{124,41}</string>
            </dict>
            <key>s_n_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,813},{157,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{157,24}}</string>
                <key>sourceSize</key>
                <string>{157,40}</string>
            </dict>
            <key>s_n_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,801},{116,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{116,22}}</string>
                <key>sourceSize</key>
                <string>{116,40}</string>
            </dict>
            <key>s_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1000},{97,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{97,22}}</string>
                <key>sourceSize</key>
                <string>{99,40}</string>
            </dict>
            <key>s_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,788},{110,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{110,20}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>s_n_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,964},{64,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{64,24}}</string>
                <key>sourceSize</key>
                <string>{66,40}</string>
            </dict>
            <key>s_n_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,801},{109,21}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{109,21}}</string>
                <key>sourceSize</key>
                <string>{111,39}</string>
            </dict>
            <key>s_n_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,810},{126,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{126,22}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>s_n_7..png</key>
            <dict>
                <key>frame</key>
                <string>{{377,801},{109,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{109,22}}</string>
                <key>sourceSize</key>
                <string>{111,38}</string>
            </dict>
            <key>s_n_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{97,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{97,22}}</string>
                <key>sourceSize</key>
                <string>{97,40}</string>
            </dict>
            <key>s_n_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,534},{146,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{146,22}}</string>
                <key>sourceSize</key>
                <string>{148,40}</string>
            </dict>
            <key>w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,816},{150,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{150,28}}</string>
                <key>sourceSize</key>
                <string>{150,42}</string>
            </dict>
            <key>w_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,672},{100,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{100,25}}</string>
                <key>sourceSize</key>
                <string>{104,43}</string>
            </dict>
            <key>w_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,810},{128,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{128,24}}</string>
                <key>sourceSize</key>
                <string>{134,42}</string>
            </dict>
            <key>w_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,376},{156,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{156,28}}</string>
                <key>sourceSize</key>
                <string>{156,42}</string>
            </dict>
            <key>w_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,397},{88,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{88,23}}</string>
                <key>sourceSize</key>
                <string>{94,43}</string>
            </dict>
            <key>w_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,682},{59,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{59,25}}</string>
                <key>sourceSize</key>
                <string>{61,43}</string>
            </dict>
            <key>w_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,422},{82,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{82,28}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
            <key>w_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,917},{104,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{104,23}}</string>
                <key>sourceSize</key>
                <string>{108,43}</string>
            </dict>
            <key>w_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,919},{103,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{103,27}}</string>
                <key>sourceSize</key>
                <string>{113,43}</string>
            </dict>
            <key>w_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{196,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{196,28}}</string>
                <key>sourceSize</key>
                <string>{200,42}</string>
            </dict>
            <key>w_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,534},{136,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{136,24}}</string>
                <key>sourceSize</key>
                <string>{136,42}</string>
            </dict>
            <key>w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,200},{174,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{174,28}}</string>
                <key>sourceSize</key>
                <string>{174,42}</string>
            </dict>
            <key>w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,912},{95,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{95,24}}</string>
                <key>sourceSize</key>
                <string>{115,42}</string>
            </dict>
            <key>w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,743},{116,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{116,29}}</string>
                <key>sourceSize</key>
                <string>{118,43}</string>
            </dict>
            <key>w_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,810},{148,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,28}}</string>
                <key>sourceSize</key>
                <string>{150,42}</string>
            </dict>
            <key>w_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{91,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{91,28}}</string>
                <key>sourceSize</key>
                <string>{103,42}</string>
            </dict>
            <key>w_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{58,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{58,26}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>w_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,999},{97,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{97,23}}</string>
                <key>sourceSize</key>
                <string>{97,43}</string>
            </dict>
            <key>w_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,810},{121,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{121,28}}</string>
                <key>sourceSize</key>
                <string>{123,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>name.png</string>
            <key>size</key>
            <string>{440,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:879da38b8e8d07ea39c7b56648b91f0b$</string>
            <key>textureFileName</key>
            <string>name.png</string>
        </dict>
    </dict>
</plist>
