[submodule "BTCfi-Summer-Hackathon-2024-Top10/moon-launch/moonlaunch-contracts"]
	path = BTCfi-Summer-Hackathon-2024-Top10/moon-launch/moonlaunch-contracts
	url = https://github.com/Tee-py/moonlaunch-contracts.git
