.container {
    width: 100%;
    height: 600px;
    max-width: 1440px;
    padding: 20px;
    margin-top: 50px;
    margin-right: 20px;
    background-color: rgb(0,0,0,0.5) ;
    border: #ffd6ff 1px solid;
    border-radius: 25px;
}

.gradientText0 {
    background: -webkit-linear-gradient(#bfa3da, #84309c, #c735b0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradientText1 {
    background: -webkit-linear-gradient(#a79af9, #7aa8d2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradientText2 {
    background: -webkit-linear-gradient(#bfa3da, #743f93);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradientText3 {
    background: -webkit-linear-gradient(#c35ab1, #e9a8d9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
    text-decoration-color: #84309c;
}

.title {
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: left;
}

.connect {
    margin-bottom: 2rem;
}

.description {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #555;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1.1rem;
}

.grid {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #131313;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 440px;
    overflow: none;
    border: none;
}

.cardText {
    padding: 1rem;
}

.card img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0 0;
    margin-bottom: 12px;
    border: none;
}

.card:hover,
.card:focus,
.card:active {
    background-color: #272c34;
    opacity: 80%;
}

.card h2 {
    margin: 0 0 0.75rem 0;
}

.card p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.75;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

@media (max-width: 768px) {
    .header {
        margin-left: 0;
    }

    .grid {
        width: 100%;
        flex-direction: column;
    }

    .title {
        font-size: 3rem;
        line-height: 1.15;
    }
}

.card,
.footer {
    border-color: #222;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    background-color: #000000;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbarLinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbarLinks p {
    margin-right: 1rem;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.navbarLinks p:hover {
    background-color: #F6740B;
    color: #000000;
}

.minterContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 2rem;
    height: 80vh;
    width: 200%;
}

.mintContainerSection {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 1rem;
    width: 50%;
    height: 600px;
}

.metadataInput {
    height: 52px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    background-color: #131313;
    color: #fff;
}

.mintButton {
    height: 48px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ffd6ff;
    padding: 0 1rem;
    font-size: 1rem;
    margin-top: 40px;
    background-color: #ffd6ff;
    color: black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.mintButton:hover {
    color: #ffd6ff;
    background-color: black;
}

.mintButton:disabled {
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
}

.fileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.resetButton {
    height: 48px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ffd6ff;
    padding: 0 1rem;
    font-size: 1rem;
    background-color: #ffd6ff;
    color: black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.resetButton:hover {
    background-color: darkred;
}

.nftCardContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 1rem;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #333;
    transition: all 0.2s ease-in-out;
}

.nftCardContainer:hover {
    transform: scale(1.02);
}

.nftCardContainer p {
    border: 1px solid #555;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 0.75rem;
    color: #555;
    
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}