<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3v3tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1029},{416,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,44}}</string>
                <key>sourceSize</key>
                <string>{416,44}</string>
            </dict>
            <key>LV.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1685},{89,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,40}}</string>
                <key>sourceSize</key>
                <string>{89,40}</string>
            </dict>
            <key>bg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1080,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1080,178}}</string>
                <key>sourceSize</key>
                <string>{1080,178}</string>
            </dict>
            <key>boss-yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1029},{164,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{164,28}}</string>
                <key>sourceSize</key>
                <string>{168,40}</string>
            </dict>
            <key>boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1777},{156,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,40}}</string>
                <key>sourceSize</key>
                <string>{156,40}</string>
            </dict>
            <key>boss_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{1025,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,79}}</string>
                <key>sourceSize</key>
                <string>{1025,79}</string>
            </dict>
            <key>boss_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{1025,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,79}}</string>
                <key>sourceSize</key>
                <string>{1025,79}</string>
            </dict>
            <key>boss_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{1025,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,79}}</string>
                <key>sourceSize</key>
                <string>{1025,79}</string>
            </dict>
            <key>btnBzAd.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1596},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>btnCtAd.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1496},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>btn_bullet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1654},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>btn_bullet_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1392},{94,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,102}}</string>
                <key>sourceSize</key>
                <string>{94,102}</string>
            </dict>
            <key>btn_bullet_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1523},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>btn_bullet_pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1392},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>btn_hideAd-yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1120},{130,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,139}}</string>
                <key>sourceSize</key>
                <string>{130,139}</string>
            </dict>
            <key>btn_hideAd.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,676},{130,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,139}}</string>
                <key>sourceSize</key>
                <string>{130,139}</string>
            </dict>
            <key>btn_xingzou.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,816},{267,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,267}}</string>
                <key>sourceSize</key>
                <string>{267,267}</string>
            </dict>
            <key>btn_xingzou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,967},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>btn_xuanzewuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1366},{279,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,120}}</string>
                <key>sourceSize</key>
                <string>{279,120}</string>
            </dict>
            <key>btn_xuanzewuqi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1085},{279,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,120}}</string>
                <key>sourceSize</key>
                <string>{279,120}</string>
            </dict>
            <key>btn_zanting.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1696},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>circleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,2},{242,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,31}}</string>
                <key>sourceSize</key>
                <string>{242,31}</string>
            </dict>
            <key>dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1758},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>gjwq-k.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1085},{239,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,39}}</string>
                <key>sourceSize</key>
                <string>{239,39}</string>
            </dict>
            <key>gjwq-yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1785},{99,35}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{99,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>gjwq.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1777},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>huandanlengque.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1085},{279,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,120}}</string>
                <key>sourceSize</key>
                <string>{279,120}</string>
            </dict>
            <key>huo.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1326},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>jinenglan.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{1055,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1055,92}}</string>
                <key>sourceSize</key>
                <string>{1055,92}</string>
            </dict>
            <key>jingyanBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,2},{812,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{812,60}}</string>
                <key>sourceSize</key>
                <string>{812,60}</string>
            </dict>
            <key>jingyanProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,2},{812,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{812,60}}</string>
                <key>sourceSize</key>
                <string>{812,60}</string>
            </dict>
            <key>jingyan_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,2},{812,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{812,60}}</string>
                <key>sourceSize</key>
                <string>{812,60}</string>
            </dict>
            <key>jsl-yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,1696},{118,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{118,32}}</string>
                <key>sourceSize</key>
                <string>{124,40}</string>
            </dict>
            <key>jsl.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1815},{124,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,40}}</string>
                <key>sourceSize</key>
                <string>{124,40}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{679,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{679,90}}</string>
                <key>sourceSize</key>
                <string>{679,90}</string>
            </dict>
            <key>occupyFlag-yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1048},{238,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{238,45}}</string>
                <key>sourceSize</key>
                <string>{238,67}</string>
            </dict>
            <key>occupyFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,808},{238,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,67}}</string>
                <key>sourceSize</key>
                <string>{238,67}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1288},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>shipin.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1814},{62,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,44}}</string>
                <key>sourceSize</key>
                <string>{62,44}</string>
            </dict>
            <key>shuxing-yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1739},{119,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,47}}</string>
                <key>sourceSize</key>
                <string>{119,47}</string>
            </dict>
            <key>shuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,683},{119,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,47}}</string>
                <key>sourceSize</key>
                <string>{119,47}</string>
            </dict>
            <key>shuxing_bg-yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1460},{277,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,399}}</string>
                <key>sourceSize</key>
                <string>{277,399}</string>
            </dict>
            <key>shuxing_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1059},{277,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,399}}</string>
                <key>sourceSize</key>
                <string>{277,399}</string>
            </dict>
            <key>skill_cd_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1366},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>skill_cd_pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1776},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>skill_hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1261},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>skill_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,683},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>skill_huang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,806},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>syrs-yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,246},{170,27}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{170,27}}</string>
                <key>sourceSize</key>
                <string>{172,49}</string>
            </dict>
            <key>syrs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1801},{161,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,41}}</string>
                <key>sourceSize</key>
                <string>{161,41}</string>
            </dict>
            <key>sysj-yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,1120},{119,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{119,37}}</string>
                <key>sourceSize</key>
                <string>{127,41}</string>
            </dict>
            <key>sysj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1758},{161,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,41}}</string>
                <key>sourceSize</key>
                <string>{161,41}</string>
            </dict>
            <key>touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1647},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>ttl-yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1819},{107,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{107,36}}</string>
                <key>sourceSize</key>
                <string>{111,40}</string>
            </dict>
            <key>ttl.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1773},{125,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,40}}</string>
                <key>sourceSize</key>
                <string>{125,40}</string>
            </dict>
            <key>txt_jianqi-yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,418},{72,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{72,24}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>txt_jianqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1319},{66,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,36}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>txt_skill-yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1814},{44,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,78}}</string>
                <key>sourceSize</key>
                <string>{44,78}</string>
            </dict>
            <key>txt_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,1241},{37,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,76}}</string>
                <key>sourceSize</key>
                <string>{37,76}</string>
            </dict>
            <key>xuedi-hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1784},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>xuedi-hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1785},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>zdjs-yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{672,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,190}}</string>
                <key>sourceSize</key>
                <string>{672,190}</string>
            </dict>
            <key>zdjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{672,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,190}}</string>
                <key>sourceSize</key>
                <string>{672,190}</string>
            </dict>
            <key>zzqlzc-yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1739},{317,36}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{317,36}}</string>
                <key>sourceSize</key>
                <string>{317,54}</string>
            </dict>
            <key>zzqlzc.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1366},{317,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,54}}</string>
                <key>sourceSize</key>
                <string>{317,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamePage.png</string>
            <key>size</key>
            <string>{1022,1860}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdd6158e076f986b4d7ffb23b8d399fd$</string>
            <key>textureFileName</key>
            <string>gamePage.png</string>
        </dict>
    </dict>
</plist>
