<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,433},{917,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{917,51}}</string>
                <key>sourceSize</key>
                <string>{917,51}</string>
            </dict>
            <key>bar_pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,484},{914,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{914,44}}</string>
                <key>sourceSize</key>
                <string>{914,44}</string>
            </dict>
            <key>bar_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,441},{917,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{917,51}}</string>
                <key>sourceSize</key>
                <string>{917,51}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,0},{844,433}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{844,433}}</string>
                <key>sourceSize</key>
                <string>{844,433}</string>
            </dict>
            <key>logo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{844,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{844,441}}</string>
                <key>sourceSize</key>
                <string>{844,441}</string>
            </dict>
            <key>zzjz-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,58},{312,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,58}}</string>
                <key>sourceSize</key>
                <string>{312,58}</string>
            </dict>
            <key>zzjz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,0},{312,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,58}}</string>
                <key>sourceSize</key>
                <string>{312,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>load.png</string>
            <key>size</key>
            <string>{2000,528}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4350503b4fc17207c6f4f1634d78416$</string>
            <key>textureFileName</key>
            <string>load.png</string>
        </dict>
    </dict>
</plist>
