<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,597},{366,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,126}}</string>
                <key>sourceSize</key>
                <string>{366,126}</string>
            </dict>
            <key>btn_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{366,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,126}}</string>
                <key>sourceSize</key>
                <string>{366,126}</string>
            </dict>
            <key>btn_lijifh-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,534},{242,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,38}}</string>
                <key>sourceSize</key>
                <string>{242,38}</string>
            </dict>
            <key>btn_lijifh.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,574},{213,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,55}}</string>
                <key>sourceSize</key>
                <string>{213,55}</string>
            </dict>
            <key>btn_txrs-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,534},{157,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{157,63}}</string>
                <key>sourceSize</key>
                <string>{215,63}</string>
            </dict>
            <key>btn_txrs.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,534},{215,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,55}}</string>
                <key>sourceSize</key>
                <string>{215,55}</string>
            </dict>
            <key>diquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,2},{530,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,530}}</string>
                <key>sourceSize</key>
                <string>{530,530}</string>
            </dict>
            <key>shangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{593,593}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{593,593}}</string>
                <key>sourceSize</key>
                <string>{593,593}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,637},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>shipin.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,591},{62,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,44}}</string>
                <key>sourceSize</key>
                <string>{62,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>revive.png</string>
            <key>size</key>
            <string>{1129,725}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb830a93232529a7b420eb537979d091$</string>
            <key>textureFileName</key>
            <string>revive.png</string>
        </dict>
    </dict>
</plist>
