<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{818,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{818,234}}</string>
                <key>sourceSize</key>
                <string>{818,234}</string>
            </dict>
            <key>bg_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,2},{462,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,314}}</string>
                <key>sourceSize</key>
                <string>{462,314}</string>
            </dict>
            <key>boss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,366},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>boss10.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,366},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>boss2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,420},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>boss3.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,420},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>boss4.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,420},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>boss5.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,420},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>boss6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,420},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>boss7.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,420},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>boss8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>boss9.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,348},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,238},{242,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,116}}</string>
                <key>sourceSize</key>
                <string>{242,116}</string>
            </dict>
            <key>huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,2},{242,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,116}}</string>
                <key>sourceSize</key>
                <string>{242,116}</string>
            </dict>
            <key>newRecard-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,238},{108,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,62}}</string>
                <key>sourceSize</key>
                <string>{108,62}</string>
            </dict>
            <key>newRecard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,246},{108,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,62}}</string>
                <key>sourceSize</key>
                <string>{108,62}</string>
            </dict>
            <key>title_fail-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{598,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,180}}</string>
                <key>sourceSize</key>
                <string>{598,180}</string>
            </dict>
            <key>title_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,318},{598,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,180}}</string>
                <key>sourceSize</key>
                <string>{598,180}</string>
            </dict>
            <key>title_win-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,184},{598,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,180}}</string>
                <key>sourceSize</key>
                <string>{598,180}</string>
            </dict>
            <key>title_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{598,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,180}}</string>
                <key>sourceSize</key>
                <string>{598,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie_over.png</string>
            <key>size</key>
            <string>{2022,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78fbc3343ce1c0fccd1be8e4d09276cb$</string>
            <key>textureFileName</key>
            <string>zombie_over.png</string>
        </dict>
    </dict>
</plist>
