<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,2},{783,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{783,128}}</string>
                <key>sourceSize</key>
                <string>{783,130}</string>
            </dict>
            <key>btn_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,787},{307,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,104}}</string>
                <key>sourceSize</key>
                <string>{307,104}</string>
            </dict>
            <key>btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,787},{307,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,104}}</string>
                <key>sourceSize</key>
                <string>{307,104}</string>
            </dict>
            <key>fxjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,938},{137,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,35}}</string>
                <key>sourceSize</key>
                <string>{137,35}</string>
            </dict>
            <key>fxjs_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,508},{143,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,22}}</string>
                <key>sourceSize</key>
                <string>{143,22}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,900},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>shipin.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,900},{62,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,44}}</string>
                <key>sourceSize</key>
                <string>{62,44}</string>
            </dict>
            <key>spjs-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,722},{161,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,31}}</string>
                <key>sourceSize</key>
                <string>{161,31}</string>
            </dict>
            <key>spjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,900},{136,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,36}}</string>
                <key>sourceSize</key>
                <string>{136,36}</string>
            </dict>
            <key>txt_shipionshuaxin-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,722},{176,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{176,29}}</string>
                <key>sourceSize</key>
                <string>{176,45}</string>
            </dict>
            <key>txt_shipionshuaxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,508},{212,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,45}}</string>
                <key>sourceSize</key>
                <string>{212,45}</string>
            </dict>
            <key>txt_tittle-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{504,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{504,69}}</string>
                <key>sourceSize</key>
                <string>{546,77}</string>
            </dict>
            <key>txt_tittle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{545,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,76}}</string>
                <key>sourceSize</key>
                <string>{545,76}</string>
            </dict>
            <key>weixuanzhong-jinengkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{364,525}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,525}}</string>
                <key>sourceSize</key>
                <string>{364,525}</string>
            </dict>
            <key>xuanzhong-jinengkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{412,577}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{412,577}}</string>
                <key>sourceSize</key>
                <string>{416,577}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie_skill.png</string>
            <key>size</key>
            <string>{782,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5709991e855fa31337a4d432e95d708a$</string>
            <key>textureFileName</key>
            <string>zombie_skill.png</string>
        </dict>
    </dict>
</plist>
