<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>rank10.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,649},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>rank11.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,554},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>rank12.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,385},{183,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,167}}</string>
                <key>sourceSize</key>
                <string>{183,167}</string>
            </dict>
            <key>rank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,206},{159,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,153}}</string>
                <key>sourceSize</key>
                <string>{159,153}</string>
            </dict>
            <key>rank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,493},{159,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,150}}</string>
                <key>sourceSize</key>
                <string>{159,150}</string>
            </dict>
            <key>rank4.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,715},{155,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,159}}</string>
                <key>sourceSize</key>
                <string>{155,159}</string>
            </dict>
            <key>rank5.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,869},{155,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,159}}</string>
                <key>sourceSize</key>
                <string>{155,159}</string>
            </dict>
            <key>rank6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,869},{155,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,159}}</string>
                <key>sourceSize</key>
                <string>{155,159}</string>
            </dict>
            <key>rank7.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,488},{159,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,170}}</string>
                <key>sourceSize</key>
                <string>{159,170}</string>
            </dict>
            <key>rank8.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,489},{159,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,164}}</string>
                <key>sourceSize</key>
                <string>{159,164}</string>
            </dict>
            <key>rank9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,873},{112,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>s_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,883},{112,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,113}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>s_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,650},{114,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,111}}</string>
                <key>sourceSize</key>
                <string>{114,111}</string>
            </dict>
            <key>s_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,919},{113,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,120}}</string>
                <key>sourceSize</key>
                <string>{113,120}</string>
            </dict>
            <key>s_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,654},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>s_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,762},{118,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,109}}</string>
                <key>sourceSize</key>
                <string>{118,109}</string>
            </dict>
            <key>s_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,776},{91,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,99}}</string>
                <key>sourceSize</key>
                <string>{91,99}</string>
            </dict>
            <key>s_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,810},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,919},{120,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,113}}</string>
                <key>sourceSize</key>
                <string>{120,113}</string>
            </dict>
            <key>s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,912},{120,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,112}}</string>
                <key>sourceSize</key>
                <string>{120,112}</string>
            </dict>
            <key>s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,681},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,919},{113,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,120}}</string>
                <key>sourceSize</key>
                <string>{113,120}</string>
            </dict>
            <key>s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,650},{120,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,452},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,803},{120,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,114}}</string>
                <key>sourceSize</key>
                <string>{120,114}</string>
            </dict>
            <key>s_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,766},{113,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{113,115}</string>
            </dict>
            <key>w_ak.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,82},{230,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{230,100}}</string>
                <key>sourceSize</key>
                <string>{232,100}</string>
            </dict>
            <key>w_cfq.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,367},{176,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,120}}</string>
                <key>sourceSize</key>
                <string>{176,120}</string>
            </dict>
            <key>w_cjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,210},{222,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,95}}</string>
                <key>sourceSize</key>
                <string>{222,95}</string>
            </dict>
            <key>w_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,112},{216,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,60}}</string>
                <key>sourceSize</key>
                <string>{216,60}</string>
            </dict>
            <key>w_dg.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,330},{120,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,86}}</string>
                <key>sourceSize</key>
                <string>{120,86}</string>
            </dict>
            <key>w_fs.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{235,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,78}}</string>
                <key>sourceSize</key>
                <string>{235,78}</string>
            </dict>
            <key>w_gj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{221,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,38}}</string>
                <key>sourceSize</key>
                <string>{221,38}</string>
            </dict>
            <key>w_gtst.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,574},{130,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,105}}</string>
                <key>sourceSize</key>
                <string>{130,105}</string>
            </dict>
            <key>w_hdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,120},{228,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,88}}</string>
                <key>sourceSize</key>
                <string>{228,88}</string>
            </dict>
            <key>w_jgb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{219,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,31}}</string>
                <key>sourceSize</key>
                <string>{219,31}</string>
            </dict>
            <key>w_jtl.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{308,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,116}}</string>
                <key>sourceSize</key>
                <string>{308,116}</string>
            </dict>
            <key>w_ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,108}}</string>
                <key>sourceSize</key>
                <string>{328,108}</string>
            </dict>
            <key>w_ld.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,256},{212,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,108}}</string>
                <key>sourceSize</key>
                <string>{212,108}</string>
            </dict>
            <key>w_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,120},{208,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,80}}</string>
                <key>sourceSize</key>
                <string>{208,80}</string>
            </dict>
            <key>w_mq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,435},{162,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,110}}</string>
                <key>sourceSize</key>
                <string>{162,110}</string>
            </dict>
            <key>w_nnp.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{202,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,130}}</string>
                <key>sourceSize</key>
                <string>{202,130}</string>
            </dict>
            <key>w_rsq.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,366},{193,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{193,120}}</string>
                <key>sourceSize</key>
                <string>{193,122}</string>
            </dict>
            <key>w_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,307},{222,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>w_sq.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,330},{100,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,74}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>w_sq2.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,432},{94,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,59}}</string>
                <key>sourceSize</key>
                <string>{94,59}</string>
            </dict>
            <key>w_szg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{240,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,164}}</string>
                <key>sourceSize</key>
                <string>{240,164}</string>
            </dict>
            <key>w_tb.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,184},{218,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,70}}</string>
                <key>sourceSize</key>
                <string>{220,72}</string>
            </dict>
            <key>w_tj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{257,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{257,82}}</string>
                <key>sourceSize</key>
                <string>{257,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon.png</string>
            <key>size</key>
            <string>{1010,1043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e1392f845ae774cd35f6ab8fc919af5$</string>
            <key>textureFileName</key>
            <string>icon.png</string>
        </dict>
    </dict>
</plist>
