<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>n_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1055},{355,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,94}}</string>
                <key>sourceSize</key>
                <string>{355,94}</string>
            </dict>
            <key>n_r10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{357,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,93}}</string>
                <key>sourceSize</key>
                <string>{357,93}</string>
            </dict>
            <key>n_r11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{359,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,94}}</string>
                <key>sourceSize</key>
                <string>{359,94}</string>
            </dict>
            <key>n_r12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{361,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,93}}</string>
                <key>sourceSize</key>
                <string>{361,93}</string>
            </dict>
            <key>n_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,959},{355,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,94}}</string>
                <key>sourceSize</key>
                <string>{355,94}</string>
            </dict>
            <key>n_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{359,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,94}}</string>
                <key>sourceSize</key>
                <string>{359,94}</string>
            </dict>
            <key>n_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{362,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,94}}</string>
                <key>sourceSize</key>
                <string>{362,94}</string>
            </dict>
            <key>n_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{361,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,94}}</string>
                <key>sourceSize</key>
                <string>{361,94}</string>
            </dict>
            <key>n_r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{361,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,93}}</string>
                <key>sourceSize</key>
                <string>{361,93}</string>
            </dict>
            <key>n_r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{362,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,94}}</string>
                <key>sourceSize</key>
                <string>{362,94}</string>
            </dict>
            <key>n_r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{362,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,94}}</string>
                <key>sourceSize</key>
                <string>{362,94}</string>
            </dict>
            <key>n_r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{358,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,94}}</string>
                <key>sourceSize</key>
                <string>{358,94}</string>
            </dict>
            <key>p_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1075},{111,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,42}}</string>
                <key>sourceSize</key>
                <string>{111,42}</string>
            </dict>
            <key>p_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,273},{115,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,43}}</string>
                <key>sourceSize</key>
                <string>{115,43}</string>
            </dict>
            <key>p_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,692},{75,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,42}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>p_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,736},{113,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,43}}</string>
                <key>sourceSize</key>
                <string>{113,43}</string>
            </dict>
            <key>p_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,331},{116,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,42}}</string>
                <key>sourceSize</key>
                <string>{116,42}</string>
            </dict>
            <key>p_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,640},{114,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,42}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>p_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,769},{111,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,43}}</string>
                <key>sourceSize</key>
                <string>{111,43}</string>
            </dict>
            <key>p_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1111},{76,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,42}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>p_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,997},{112,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,42}}</string>
                <key>sourceSize</key>
                <string>{112,42}</string>
            </dict>
            <key>p_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,297},{113,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,40}}</string>
                <key>sourceSize</key>
                <string>{113,40}</string>
            </dict>
            <key>p_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,155},{116,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,43}}</string>
                <key>sourceSize</key>
                <string>{116,43}</string>
            </dict>
            <key>p_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,621},{113,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,43}}</string>
                <key>sourceSize</key>
                <string>{113,43}</string>
            </dict>
            <key>s_n_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1195},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>s_n_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{146,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,40}}</string>
                <key>sourceSize</key>
                <string>{146,40}</string>
            </dict>
            <key>s_n_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1192},{71,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,40}}</string>
                <key>sourceSize</key>
                <string>{71,40}</string>
            </dict>
            <key>s_n_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1151},{181,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,40}}</string>
                <key>sourceSize</key>
                <string>{181,40}</string>
            </dict>
            <key>s_n_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{181,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,41}}</string>
                <key>sourceSize</key>
                <string>{181,41}</string>
            </dict>
            <key>s_n_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,185},{144,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,41}}</string>
                <key>sourceSize</key>
                <string>{144,41}</string>
            </dict>
            <key>s_n_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,150},{145,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,40}}</string>
                <key>sourceSize</key>
                <string>{145,40}</string>
            </dict>
            <key>s_n_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,882},{74,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,40}}</string>
                <key>sourceSize</key>
                <string>{74,40}</string>
            </dict>
            <key>s_n_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1188},{73,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,40}}</string>
                <key>sourceSize</key>
                <string>{73,40}</string>
            </dict>
            <key>s_n_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1189},{72,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,40}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>s_n_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,564},{74,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,40}}</string>
                <key>sourceSize</key>
                <string>{74,40}</string>
            </dict>
            <key>s_n_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1263},{73,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,39}}</string>
                <key>sourceSize</key>
                <string>{73,39}</string>
            </dict>
            <key>s_n_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,488},{74,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,40}}</string>
                <key>sourceSize</key>
                <string>{74,40}</string>
            </dict>
            <key>s_n_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1281},{71,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,38}}</string>
                <key>sourceSize</key>
                <string>{71,38}</string>
            </dict>
            <key>s_n_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1193},{73,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,40}}</string>
                <key>sourceSize</key>
                <string>{73,40}</string>
            </dict>
            <key>s_n_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,412},{74,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,40}}</string>
                <key>sourceSize</key>
                <string>{74,40}</string>
            </dict>
            <key>w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1193},{150,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,42}}</string>
                <key>sourceSize</key>
                <string>{150,42}</string>
            </dict>
            <key>w_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,390},{114,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,43}}</string>
                <key>sourceSize</key>
                <string>{114,43}</string>
            </dict>
            <key>w_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,576},{114,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,42}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>w_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1237},{148,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,42}}</string>
                <key>sourceSize</key>
                <string>{148,42}</string>
            </dict>
            <key>w_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1114},{76,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,43}}</string>
                <key>sourceSize</key>
                <string>{76,43}</string>
            </dict>
            <key>w_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,953},{79,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,43}}</string>
                <key>sourceSize</key>
                <string>{79,43}</string>
            </dict>
            <key>w_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1034},{78,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,42}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>w_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1151},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>w_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,506},{113,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,43}}</string>
                <key>sourceSize</key>
                <string>{113,43}</string>
            </dict>
            <key>w_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,959},{114,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,42}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>w_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1151},{115,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,42}}</string>
                <key>sourceSize</key>
                <string>{115,42}</string>
            </dict>
            <key>w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1239},{114,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,42}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,449},{115,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,42}}</string>
                <key>sourceSize</key>
                <string>{115,42}</string>
            </dict>
            <key>w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,871},{80,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,43}}</string>
                <key>sourceSize</key>
                <string>{80,43}</string>
            </dict>
            <key>w_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1195},{114,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,42}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>w_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,882},{113,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,42}}</string>
                <key>sourceSize</key>
                <string>{113,42}</string>
            </dict>
            <key>w_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,1283},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>w_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{151,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,43}}</string>
                <key>sourceSize</key>
                <string>{151,43}</string>
            </dict>
            <key>w_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,756},{113,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,42}}</string>
                <key>sourceSize</key>
                <string>{113,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>name.png</string>
            <key>size</key>
            <string>{496,1321}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24c66fcd5d2db8b6285e0eff94848f88$</string>
            <key>textureFileName</key>
            <string>name.png</string>
        </dict>
    </dict>
</plist>
